ion-card {
  box-shadow: none;
  border-color: #b8b8b875;
  border-style: solid;
  border-width: thin;
}

#map_canvas{
  height: 50%;
}

.face_icon {
  height: 3rem;
}

.reccomment_icon {
  height: 2rem;
}

.blue_bg {
  background-color: #3bccff;
}

.green_bg {
  background-color: #a8e05f;
}

.yellow_bg {
  background-color: #fdd74b;
}

.orange_bg {
  background-color: #fe9b57;
}

.red_bg {
  background-color: #fe6a69;
}

.purple_bg {
  background-color: #a97abc;
}
